.navegacion {
  width: 50%;
  display: inline-grid;
  float: right;
  padding-top: 0px:
}
body{
  background-color: #b2ebf2 ;
}
.lgo {
  width: 20%;
  height: 200px;
  float: left;
}
.principal{
  width: 75%;
  float: left;
    background-color: #ffd54f ;
    border-radius: 4px;

}
.barra-lateral{
  width: 25%;
  float: right;

}

table{
    width: auto;
    float: left;
    padding-top: 60px;
    padding-left: 80px;
}
.contenido{
  padding-top: 130px;

}

table a{
  font-family: Arial;
  color: red;
  font-weight: bold;
}


td{
  background-color: #81d4fa;
  height: 30px;
  font-family: Arial bold black;
  width: 150px;
}
.contenedor{
  padding-left: 200px;
  padding-right: 200px;


}
ul {
  background-color: #eeeeee  ;
  list-style:decimal;
  width: 550px;
  font-family: Gadugi;
}

li a {
padding-bottom: 5px;
display: block;

color: #3949ab;
}

.pseudo {
  width: 30%;
float: right;
height: 270px;
border-radius: 10px;
padding-top:50px;
}

.critica{
  font-family: Segoe UI;
  color: black;
}
h1{
  font-family: Segoe UI;
}
.pie{
  font-size: 12px;
  font-family: comic sans;
}
h2{
  color: #8d6e63;
  font-family:Segoe UI;
}
.uno{
  margin: 0 auto;
  padding-left: 300px;
  padding-top: 50px;
  font-family: Verdana;
  font-size: 25px;
  color:   #1a237e ;
  font-weight: bold;

}

.pie2{
padding-top: 700px;
    font-size: 12px;
    font-family: comic sans;
}
.pie3{
padding-top: 790px;
    font-size: 12px;
    font-family: comic sans;
}
ul.obras{
  background-color: inherit;
  width:25%;
  list-style:none;
  font-style: italic;
  color:#263238;
  font-size: 18px;
}
